/* * {
  border: 1px solid orange;
} */

.App {
  font-family: 'Press Start 2P';
  text-align: center;
  font-size: 20px;
  box-sizing: border-box;
  padding-top: 60px;
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.Typist .Cursor {
  display: inline-block;
}
.Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.score {
  min-height: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  transform-origin: 50% 50%;
}

.text {
  /* height: 300px; */
  text-align: left;
  line-height: 36px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.button {
  margin: 10px;
}

/* reset button styles https://css-tricks.com/overriding-default-button-styles/ */
button {
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  /* not needed in modern browsers */
  -webkit-appearance: none;
  -moz-appearance: none;
}
